@import 'tailwindcss';

@theme {
  /* Arka planlar */
  --color-bg-main: var(--bg-main);
  --color-bg-press: var(--bg-press);
  --color-bg-studio: var(--bg-studio);

  /* Yazılar */
  --color-txt-main: var(--txt-main);
  --color-txt-silver: var(--txt-silver);

  --tracking-brand: 0.25em;
}

:root {
  /* LIGHT MODE */
  --bg-main: #ffffff;
  --bg-press: #121212; /* Matbaa alanı: Siyah */
  --bg-studio: #f5f5dc; /* Studio alanı: Krem */

  --txt-main: #121212;
  --txt-silver: #a3a3a3; /* Gümüş Gri */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* DARK MODE */
    --bg-main: #0a0a0a;
    --bg-press: #000000; /* Daha derin siyah */
    --bg-studio: #1a1a15; /* Koyu krem/zeytin */

    --txt-main: #f5f5f5;
    --txt-silver: #d4d4d4; /* Parlak Gümüş */
  }
}

@layer base {
  body {
    background-color: var(--bg-main);
    color: var(--txt-main);
    @apply antialiased transition-colors duration-300;
  }
}

@layer components {
  /* Sivelor Logo Stili - İstediğin Uppercase ve Geniş Aralık */
  .brand-logo {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: var(--tracking-brand);
  }
}
